<a href="https://colab.research.google.com/github/rpizarrog/Analisis-Inteligente-de-datos/blob/main/Pyhton%20documentos/explorar_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objetivo

Explorar datos de un archivo csv por medio de librería pandas

# Descripción
Identificar una ruta WEB en donde se encuentra un archivo csv que contenga varias variables cpn lo cual se podrá importar con la función de read (lectura) que permitirá explorar sus datos.

# Marco teórico

La exploración de datos es un primer paso del análisis de datos que se utiliza para explorar y visualizar datos para descubrir conocimientos desde el mismo inicio o identificar áreas o patrones para profundizarlos más. [texto del vínculo](https://www.tibco.com/es/reference-center/what-is-data-exploration#:~:text=La%20exploraci%C3%B3n%20de%20datos%20es,o%20patrones%20para%20profundizarlos%20m%C3%A1s.)

# Desarrollo
Va a contener varios elementos:

* Cargar librerías
* Cargar datos
* Explorar datos
* Visualizar datos

## Cargar librerías

In [1]:
import pandas as pd

## Cargar datos

Los datos se encuentran en la URL: [https://raw.githubusercontent.com/rpizarrog/Analisis-Inteligente-de-datos/main/datos/movies-db.csv](https://raw.githubusercontent.com/rpizarrog/Analisis-Inteligente-de-datos/main/datos/movies-db.csv)

In [2]:
datos = pd.read_csv("https://raw.githubusercontent.com/rpizarrog/Analisis-Inteligente-de-datos/main/datos/movies-db.csv")
datos

                                         name  year  ...  foreign age_restriction
0                                   Toy Story  1995  ...        0               0
1                                       Akira  1998  ...        1              14
2                          The Breakfast Club  1985  ...        0              14
3                                  The Artist  2011  ...        1              12
4                                Modern Times  1936  ...        0              10
5                                  Fight Club  1999  ...        0              18
6                                 City of God  2002  ...        1              18
7                            The Untouchables  1987  ...        0              14
8                        Star Wars Episode IV  1977  ...        0              10
9                             American Beauty  1999  ...        0              14
10                                       Room  2015  ...        1              14
11                            Dr. Strangelove  1964  ...        1              10
12                                   The Ring  1998  ...        1              18
13            Monty Python and the Holy Grail  1975  ...        1              18
14                        High School Musical  2006  ...        0               0
15                          Shaun of the Dead  2004  ...        1              18
16                                Taxi Driver  1976  ...        1              14
17                   The Shawshank Redemption  1994  ...        0              16
18                               Interstellar  2014  ...        0              10
19                                     Casino  1995  ...        0              18
20                             The Goodfellas  1990  ...        0              14
21                 Blue is the Warmest Colour  2013  ...        1              18
22                                 Black Swan  2010  ...        0              16
23                         Back to the Future  1985  ...        0               0
24                                   The Wave  2008  ...        1              16
25                                   Whiplash  2014  ...        1              12
26                   The Grand Hotel Budapest  2014  ...        0              14
27                                    Jumanji  1995  ...        0              12
28  The Eternal Sunshine of the Spotless Mind  2004  ...        0              14
29                                    Chicago  2002  ...        0              12
30                                    Jumangi  2020  ...        0              12

[31 rows x 8 columns]